section.section.section--1(data-scroll-section data-router-page="home")
    include @components/header/header
    .blure-image
        img(src=`${baseDir}assets/images/intro/blure.png` alt="blure")
    .container
        .label.mb-8
            | Aniseed Earth
        .title.title-xlg.uppercase.mb-24
            | a #[span virtual world]#[br] with real impact
        .text.text-md.mb-49
            | Support your favourite conservation projects and receive special benefits.
            br
            | Engage and preserve the planet all powered by the new Climate Collectibles
        .button.is-disabled
            span
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_162_801)">
                <path d="M3.97899 1.22377C4.19462 1.05126 4.22959 0.736615 4.05708 0.520984C3.88458 0.305353 3.56993 0.270392 3.3543 0.442897L1.68763 1.77623C1.472 1.94874 1.43704 2.26338 1.60955 2.47901C1.78205 2.69464 2.0967 2.7296 2.31233 2.5571L3.97899 1.22377Z" fill="white"/>
                <path d="M12.6457 0.442897C12.43 0.270392 12.1154 0.305353 11.9429 0.520984C11.7704 0.736615 11.8053 1.05126 12.021 1.22377L13.6876 2.5571C13.9033 2.7296 14.2179 2.69464 14.3904 2.47901C14.5629 2.26338 14.528 1.94874 14.3123 1.77623L12.6457 0.442897Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99998 0.833333C4.04194 0.833333 0.833313 4.04196 0.833313 8C0.833313 11.958 4.04194 15.1667 7.99998 15.1667C11.958 15.1667 15.1666 11.958 15.1666 8C15.1666 4.04196 11.958 0.833333 7.99998 0.833333ZM8.49998 5.33333C8.49998 5.05719 8.27612 4.83333 7.99998 4.83333C7.72384 4.83333 7.49998 5.05719 7.49998 5.33333L7.49998 7.66667C7.49998 8.49509 8.17155 9.16667 8.99998 9.16667H9.99998C10.2761 9.16667 10.5 8.94281 10.5 8.66667C10.5 8.39052 10.2761 8.16667 9.99998 8.16667H8.99998C8.72384 8.16667 8.49998 7.94281 8.49998 7.66667L8.49998 5.33333Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_162_801">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                | Coming soon...
    .sphere
        img(src=`${baseDir}assets/images/intro/sphere.png` alt="sphere")
        .sphere-info.sphere-info--1
            span
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.9598 11.0861L15.9339 6.25327C16.2857 5.68158 16.9089 5.33334 17.5802 5.33334C18.7649 5.33334 19.6709 6.38935 19.4907 7.5603L19.1667 9.66667C18.8161 11.9452 20.579 14 22.8843 14H23.804C27.1867 14 29.3868 17.5598 27.874 20.5854L26.3426 23.6481C25.2133 25.9066 22.9049 27.3333 20.3798 27.3333H16.5C14.7028 27.3333 13.1133 26.4444 12.147 25.0823C12.16 24.9455 12.1667 24.8069 12.1667 24.6667V14C12.1667 13.5587 12.1007 13.1327 11.9781 12.7316C12.2144 12.2975 12.529 11.7862 12.9598 11.0861Z" fill="white"/>
                <path d="M10.1667 24.6667C10.1667 25.9553 9.122 27 7.83333 27C6.54467 27 5.5 25.9553 5.5 24.6667V14C5.5 12.7113 6.54467 11.6667 7.83333 11.6667C9.122 11.6667 10.1667 12.7113 10.1667 14V24.6667Z" fill="white"/>
                </svg>


        .sphere-info.sphere-info--2
            span
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.4585 9.81906C31.2733 5.57026 27.5432 1.8401 23.2944 2.65495L11.0956 4.99448C8.44386 5.50305 6.32313 7.51031 5.64936 10.1185C4.30415 15.326 9.13353 20.0852 14.319 18.5603C14.4622 18.5182 14.5952 18.6512 14.5531 18.7944C13.0282 23.9799 17.7875 28.8093 22.9949 27.4641C25.6032 26.7903 27.6104 24.6696 28.119 22.0178L30.4585 9.81906Z" fill="white"/>
                <path d="M7.09272 21.7781C7.48325 21.3876 7.48325 20.7544 7.09272 20.3639C6.7022 19.9734 6.06904 19.9734 5.67851 20.3639L3.79289 22.2495C3.40237 22.64 3.40237 23.2732 3.79289 23.6637C4.18342 24.0543 4.81658 24.0543 5.20711 23.6637L7.09272 21.7781Z" fill="white"/>
                <path d="M11.8068 21.3067C12.1973 21.6972 12.1973 22.3304 11.8068 22.7209L9.92115 24.6065C9.53063 24.9971 8.89746 24.9971 8.50694 24.6065C8.11641 24.216 8.11641 23.5829 8.50694 23.1923L10.3926 21.3067C10.7831 20.9162 11.4162 20.9162 11.8068 21.3067Z" fill="white"/>
                <path d="M12.7496 27.435C13.1401 27.0444 13.1401 26.4113 12.7496 26.0208C12.3591 25.6302 11.7259 25.6302 11.3354 26.0208L9.44975 27.9064C9.05922 28.2969 9.05922 28.9301 9.44975 29.3206C9.84027 29.7111 10.4734 29.7111 10.864 29.3206L12.7496 27.435Z" fill="white"/>
                </svg>


        .sphere-info.sphere-info--3
            span
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.2297 9.32458C15.3185 9.27335 15.4087 9.22729 15.5 9.1863V14.5599C13.3306 13.6019 13.1275 10.5383 15.2297 9.32458Z" fill="white"/>
                <path d="M17.5 22.8139V17.44C19.6695 18.3978 19.8728 21.4616 17.7705 22.6754C17.6816 22.7267 17.5913 22.7728 17.5 22.8139Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.16663 16C2.16663 8.08392 8.58388 1.66667 16.5 1.66667C24.416 1.66667 30.8333 8.08392 30.8333 16C30.8333 23.9161 24.416 30.3333 16.5 30.3333C8.58388 30.3333 2.16663 23.9161 2.16663 16ZM17.5 6.66667C17.5 6.11439 17.0522 5.66667 16.5 5.66667C15.9477 5.66667 15.5 6.11439 15.5 6.66667V7.07746C15.0643 7.18676 14.6368 7.35752 14.2297 7.59253C10.6006 9.68782 11.0619 15.0652 14.9948 16.5118L15.5 16.6977V22.9592C14.7868 22.7581 14.1496 22.2893 13.7507 21.5983L13.2499 20.731C12.9738 20.2527 12.3622 20.0888 11.8839 20.365C11.4056 20.6411 11.2417 21.2527 11.5179 21.731L12.0186 22.5983C12.7899 23.9342 14.0902 24.7728 15.5 25.0046V25.3333C15.5 25.8856 15.9477 26.3333 16.5 26.3333C17.0522 26.3333 17.5 25.8856 17.5 25.3333V24.9226C17.9357 24.8133 18.3633 24.6425 18.7705 24.4075C22.3996 22.3122 21.9384 16.9348 18.0054 15.4882L17.5 15.3023V9.04069C18.2132 9.2418 18.8505 9.71061 19.2495 10.4017L19.7503 11.269C20.0264 11.7473 20.638 11.9112 21.1163 11.635C21.5946 11.3589 21.7585 10.7473 21.4823 10.269L20.9816 9.40167C20.2102 8.06569 18.9098 7.22709 17.5 6.99533V6.66667Z" fill="white"/>
                </svg>

