section.section.section--6(data-scroll-section)
    .title.title-md.uppercase.center.mb-22.anim-fade(data-scroll)
        | Our #[span partners]
    .container.container--cards.container--partners
        .blure.blure--4.blure--lg
        .card.card-3.anim-fade.card--parnters(data-scroll)
            img(src=`${baseDir}assets/images/partners/1.png` alt=`1`)
        .card.card-3.anim-fade.card--parnters(data-scroll)
            img(src=`${baseDir}assets/images/partners/2.png` alt=`2`)
        .card.card-3.anim-fade.card--parnters(data-scroll)
            img(src=`${baseDir}assets/images/partners/3.png` alt=`3`)
