section.section.section--4(data-scroll-section data-router-page="cases")
    .title.title-md.uppercase.center.mb-15
        | Use #[span cases]
    .text-md.center.letter-spacing-008
        | Support your favourite conservation projects and receive special benefits.#[br] Engage and preserve the planet all powered by the new Climate Collectibles

    .container
        .blure.blure--2.blure--lg
        .blure.blure--3.blure--md
        .item.item--1
            .card.card-2
                .title.title-xsm.mb-16
                    | 🌳 Forest preservation
                .text-xsm.opacity-6
                    | The brand name proves the endorsed Decree. The damage caused provides an endorsed deposit, although the legislation may establish otherwise. In a number of recent court decisions, the brand name insures a legislative contract.
            .eco.eco--1
                img(src=`${baseDir}assets/images/cases/1.png` alt=`1`)
        .svg.svg--1
            <svg width="295" height="124" viewBox="0 0 295 124" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="transparent" d="M0.404244 111.133V111.133C108.552 146.154 226.756 104.427 288.95 9.27321L294.369 0.982232" stroke="white" stroke-opacity="0.2" stroke-dasharray="12 12"/>
            </svg>

        .item.item--2
            .eco.eco--2
                img(src=`${baseDir}assets/images/cases/2.png` alt=`2`)
            .card.card-2
                .title.title-xsm.mb-16
                    | 🐰 Animal sanctuaries
                .text-xsm.opacity-6
                    | The brand name proves the endorsed Decree. The damage caused provides an endorsed deposit, although the legislation may establish otherwise. In a number of recent court decisions, the brand name insures a legislative contract.
        .svg.svg--2
            <svg width="353" height="164" viewBox="0 0 353 164" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="transparent" d="M0.844156 13.0568V13.0568C134.456 -26.421 277.649 31.403 346.381 152.591L352.242 162.925" stroke="white" stroke-opacity="0.2" stroke-dasharray="12 12"/>
            </svg>

        .item.item--3
            .card.card-2
                .title.title-xsm.mb-16
                    | 💨 Peatland Restoration AMA’s
                .text-xsm.opacity-6
                    | The brand name proves the endorsed Decree. The damage caused provides an endorsed deposit, although the legislation may establish otherwise. In a number of recent court decisions, the brand name insures a legislative contract.
            .eco.eco--3
                img(src=`${baseDir}assets/images/cases/3.png` alt=`3`)
        .svg.svg--3
            <svg width="295" height="124" viewBox="0 0 295 124" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="transparent" d="M0.404244 111.151V111.151C108.552 146.172 226.756 104.445 288.95 9.29103L294.369 1.00005" stroke="white" stroke-opacity="0.2" stroke-dasharray="12 12"/>
            </svg>

        .item.item--4
            .eco.eco--4
                img(src=`${baseDir}assets/images/cases/4.png` alt=`4`)
            .card.card-2
                .title.title-xsm.mb-16
                    | 🏡 Rewilding
                .text-xsm.opacity-6
                    | The brand name proves the endorsed Decree. The damage caused provides an endorsed deposit, although the legislation may establish otherwise. In a number of recent court decisions, the brand name insures a legislative contract.
