section(data-scroll-section)
    footer.footer
        .container.container--center.container--justify.container--align-center.border
            a.footer-logo(href="/")
                img(src=`${baseDir}assets/images/logo.png` alt="client")


            .footer-links
                a(href="#" target="_blank") Privacy Policy
                a(href="#" target="_blank") Terms of Service
            .footer-prod
                | Made by #[a(href="https://roobinium.io/" target="_blank") roobinium.io]

