section.section.section--8(data-scroll-section data-router-page="contacts")

    .container
        .circle.circle--4(data-scroll data-scroll-speed="1" data-scroll-position="bottom")
        .circle.circle--5(data-scroll data-scroll-speed="1" data-scroll-position="bottom")
        form.contacts(id="form-contacts" name="frmContact").anim-fade(data-scroll)
            .contacts-send
                | Success!<br>Thank you for your message!
            .title.title-xxl.center
                | Contacts
            .contacts-text
                | Do you have any questions or suggestions? Write to us!
            .contacts-input
                input(placeholder="Your email" id="email" name="email" type="text")
            .contacts-textarea
                textarea(placeholder="Write something..." id="message" name="message")
            .contacts-bottom
                button.button(type="submit")
                    span
                        | Submit
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1503 16.9283C13.3612 16.9283 13.5656 16.8427 13.7435 16.6647L18.0677 12.3536C18.2325 12.1888 18.3314 11.9581 18.3314 11.7274C18.3314 11.4967 18.2325 11.2594 18.0677 11.1012L13.7567 6.79016C13.5721 6.60559 13.3612 6.5199 13.1503 6.5199C12.6625 6.5199 12.3197 6.86926 12.3197 7.3241C12.3197 7.57458 12.4252 7.77234 12.5768 7.93054L14.0731 9.43347L15.7408 10.9628L14.2577 10.8837H6.5387C6.01794 10.8837 5.66858 11.2264 5.66858 11.7274C5.66858 12.2284 6.01794 12.5712 6.5387 12.5712H14.2577L15.7408 12.4855L14.0731 14.0214L12.5768 15.5177C12.4252 15.6759 12.3197 15.8737 12.3197 16.1241C12.3197 16.5856 12.6625 16.9283 13.1503 16.9283Z" fill="white"/>
                        </svg>
                .social
                    a(href='https://www.linkedin.com/company/77976369' target="_blank")
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 0C10.746 0 0 10.746 0 24C0 37.254 10.746 48 24 48C37.254 48 48 37.254 48 24C48 10.746 37.254 0 24 0ZM14.992 10.806C16.676 10.806 17.798 11.928 17.798 13.424C17.798 14.92 16.676 16.042 14.806 16.042C13.122 16.044 12 14.92 12 13.424C12 11.928 13.122 10.806 14.992 10.806ZM18 34H12V18H18V34ZM38 34H32.352V25.256C32.352 22.838 30.846 22.28 30.282 22.28C29.718 22.28 27.834 22.652 27.834 25.256C27.834 25.628 27.834 34 27.834 34H22V18H27.836V20.232C28.588 18.93 30.094 18 32.918 18C35.742 18 38 20.232 38 25.256V34Z" fill="white"/>
                        </svg>



                    a(href='https://t.me/viktoria_bors' target="_blank")
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_165_867)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM12.43 8.85905C11.2628 9.34452 8.93014 10.3493 5.43189 11.8734C4.86383 12.0993 4.56626 12.3203 4.53917 12.5364C4.49339 12.9016 4.95071 13.0454 5.57347 13.2412C5.65818 13.2679 5.74595 13.2955 5.83594 13.3247C6.44864 13.5239 7.27283 13.7569 7.70129 13.7662C8.08994 13.7745 8.52373 13.6143 9.00264 13.2855C12.2712 11.0791 13.9584 9.96393 14.0643 9.93989C14.139 9.92293 14.2426 9.9016 14.3128 9.96397C14.3829 10.0263 14.376 10.1444 14.3686 10.1761C14.3233 10.3693 12.5281 12.0382 11.5991 12.9019C11.3095 13.1711 11.1041 13.3621 11.0621 13.4058C10.968 13.5035 10.8721 13.5959 10.78 13.6847C10.2108 14.2334 9.78391 14.6449 10.8036 15.3169C11.2936 15.6398 11.6858 15.9069 12.0769 16.1733C12.5042 16.4642 12.9303 16.7544 13.4816 17.1158C13.6221 17.2079 13.7562 17.3035 13.8869 17.3966C14.3841 17.7511 14.8307 18.0695 15.3826 18.0188C15.7032 17.9892 16.0345 17.6877 16.2027 16.7885C16.6002 14.6633 17.3816 10.0586 17.5622 8.1611C17.578 7.99485 17.5581 7.78209 17.5422 7.6887C17.5262 7.5953 17.4928 7.46223 17.3714 7.36372C17.2276 7.24706 17.0056 7.22246 16.9064 7.22421C16.455 7.23216 15.7626 7.47294 12.43 8.85905Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_165_867">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>

