.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-width: vc(1166);

    &--center {
        display: flex;

        @include desktop {

            align-items: center;
            justify-content: center;
        }

    }

    &--justify {
        justify-content: space-between;
    }

    &--align-center {
        align-items: center;
    }

    &--cards {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin-top: 36px;

        @include devices {
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }

    &--right {
        @include desktop {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
        }
    }

    @include devices {
        padding: 0 vc(16);
        max-width: 100%;

        &--cases {
            margin-top: 159px;
        }

        &--partners {
            flex-wrap: wrap;
            overflow: initial;
        }
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: calc(100% / 4 - 14px);
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
    border: 1px solid rgba(245, 247, 250, 0.06);
    box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
    //backdrop-filter: blur(54.3656px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;

    @include devices {
        flex-shrink: 0;
        width: 284px;
        height: 140px;
    }
}

@include devices {
    .container--cards {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 30px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.center {
    @include desktop {
        text-align: center;
    }
}

.opacity-6 {
    opacity: 0.6;
}

.title {

    text-shadow: 0px 2px 64px rgba(7, 31, 33, 0.5);

    span {
        padding-right: 8px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-xlg {
        font-weight: 800;
        font-size: 88px;
        line-height: 80px;
        letter-spacing: -4px;

        @include devices {
            font-size: vc(60);
            line-height: vc(64);

            &.is-ru-title {
                font-size: vc(57);
                line-height: vc(60);
            }
        }
    }

    &-xxl {
        font-weight: 800;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -4px;

        @include desktop {
            .section--3 & {
                span {
                    padding-left: 25px;
                }
            }
        }

        @include devices {
            font-size: vc(68);
            line-height: vc(76);

            .section--3 &, .section--6 &, .section--7 &, .section--8 & {
                padding-right: 67px;
                font-size: vc(48);
                line-height: vc(60);

                span {
                    display: block;
                }
            }
        }
    }

    &-xl {
        font-weight: 800;
        font-size: 48px;
        line-height: 52px;
    }

    &-md {
        margin-bottom: -11px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -4px;
    }

    &-sm {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1px;
    }

    &-xsm {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }

    &-width-50 {
        @include desktop {
            width: 51.5%;
        }
    }
}

.text {
    &-xxl {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;

        @include devices {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-xlg {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        @include devices {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &-xl {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }

    &-md {
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;

        @include devices {
            font-size: vc(14);
            line-height: vc(31);
        }
    }

    &-sm {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    &-xsm {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    &-xxsm {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

.insert {

}

.comment {
    &-lg {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    &-md {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}


.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 22px 66px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;

    background: linear-gradient(135deg, #66FF00 0%, #16B862 51.88%, #00858F 100%);
    box-shadow: 0px 0px 1px rgba(22, 184, 98, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 24px rgba(22, 184, 98, 0.24), 0px 8px 8px -4px rgba(22, 184, 98, 0.12);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s linear;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        background: linear-gradient(323.89deg, #66FF00 -8.93%, #16B862 70.01%, #00858F 143.24%);
        opacity: 0;
        transition: opacity 0.5s linear;
    }

    span {
        position: relative;
        z-index: 1;
        display: inline-flex;
        align-items: center;
    }

    svg {
        margin-left: 8px;
        width: 24px;
        height: 24px;
    }

    &.is-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &.is-active {
        background: linear-gradient(180deg, rgba(110, 183, 56, 0.7) 0%, rgba(20, 143, 111, 0.7) 100%);
    }

    @include hover {
        box-shadow: 0px 0px 21px rgba(22, 184, 98, 0.44), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 44px rgba(22, 184, 98, 0.44), 0px 8px 28px -4px rgba(22, 184, 98, 0.32);

        &::after {
            opacity: 1;

        }
    }
}

.label {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 12px;

    @include devices {

    }
}

.mb-4 {
    margin-bottom: 8px;
}

.mb-8 {
    margin-bottom: 8px;

    @include devices {
        margin-bottom: 17px;
    }
}

.mb-10 {
    margin-bottom: 10px;

    @include devices {
        margin-bottom: 5px;
    }
}

.mb-11 {
    margin-bottom: 11px;
}

.mb-16 {
    margin-bottom: 16px;

    @include devices {
        margin-bottom: 9px;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-22 {
    margin-bottom: 22px;
}


.mb-24 {
    margin-bottom: 24px;

    @include devices {
        margin-bottom: 8px;
    }
}

.mb-28 {
    margin-bottom: 28px;

    @include devices {
        margin-bottom: 14px;
    }
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-49 {
    margin-bottom: 49px;

    @include devices {
        margin-bottom: 40px;
    }
}

.mb-14-3 {
    margin: 14px 0 3px;
}

.mb-16-52 {
    margin: 16px 0 52px;

    @include devices {
        margin-bottom: 32px;
    }
}

.letter-spacing-008 {
    letter-spacing: 0.08em;
}


a.link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #6EB738 0%, #148F6F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &.is-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &.is-active {
        opacity: 0.7;
    }

    @include hover {
        opacity: 0.4;
    }
}


a {
    &:hover {
        color: $color-white;
        opacity: 1 !important;
    }
}

.insert {
    position: relative;
    margin-left: 16px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 12px;
        padding: 1px;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &--orange {
        background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &:after {

            background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);

        }
    }

    &--green {
        background: linear-gradient(135deg, #66FF00 0%, #16B862 51.88%, #00858F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &::after {
            background: linear-gradient(135deg, #66FF00 0%, #16B862 51.88%, #00858F 100%);
        }
    }
}

.df {
    display: flex;
    align-items: center;
}


.promote {
    margin-top: 40px;

    &-item {
        position: relative;
        display: flex;
        background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
        border: 1px solid rgba(245, 247, 250, 0.06);
        box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
        //backdrop-filter: blur(54.3656px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 40px;


        img {
            @include desktop {
                position: absolute;
            }
        }


        &--blue {
            margin-bottom: 60px;


            img {
                bottom: 43px;
                right: 92px;
                width: 552.42px;
                height: 545px;

                @include devices {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &--orange {
            img {
                bottom: -26px;
                left: -13px;
                width: 616.02px;
                height: 425.74px;

                @include devices {
                    margin-left: vc(-69);
                    margin-top: vc(8);
                    margin-bottom: vc(-25);
                    max-width: none;
                    width: vc(416.79);
                    height: vc(288.05);
                }
            }


        }

        &-left {
            @include desktop {
                padding-left: 47px;
                padding-top: 56px;
                width: 50%;
            }

            @include devices {
                order: 1;

                .promote-item--orange & {
                    order: 2;
                }
            }
        }

        &-right {
            @include desktop {
                padding-right: 72px;
                padding-left: 38px;
                padding-top: 58px;
                width: 50%;
            }

            @include devices {
                order: 2;

                .promote-item--orange & {
                    order: 1;
                }
            }
        }

        @include desktop {
            height: 332px;
        }

        @include devices {
            flex-flow: column;
            padding: vc(26) vc(24);

            .title-sm {
                justify-content: space-between;
            }
        }
    }

    &-blure {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 40px;
        z-index: -1;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;


        }


        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -174%;
            z-index: -1;
            width: 100%;
            height: 535px;
            filter: blur(180px);
            border-radius: 800px;

            @include devices {
                bottom: -88%;
                height: vc(535);
            }
        }

        &--blue {
            &::before {
                background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
            }

            &::after {
                background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
            }

        }

        &--orange {
            &::before {
                background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);

            }

            &::after {

                background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);

            }
        }
    }

    @include devices {

        margin-top: vc(32);
    }
}

.no-wrap {
    white-space: nowrap;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;

    &-col {
        @include desktop {
            &--1 {
                margin-right: 18px;
                width: calc(100% - 68% - 18px);
            }

            &--2 {
                width: 68%;
            }

            &--3 {
                width: 100%;
            }
        }

        @include devices {
            width: 100%;
        }
    }

    &-item {
        position: relative;
        margin-bottom: 18px;
        border-radius: 40px;
        overflow: hidden;
        backdrop-filter: blur(54.3656px);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }

        &--1 {
            background: linear-gradient(135deg, #00BBFF 0%, #4579F5 51.01%, #5D2DE1 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #4579F5 51.01%, #5D2DE1 100%);
            }

            @include hover {


                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--2 {
            background: linear-gradient(135deg, #00BBFF 0%, #9C42F5 52.98%, #5D2DE1 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #9C42F5 52.98%, #5D2DE1 100%);
            }

            @include hover {
                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--3 {
            background: linear-gradient(135deg, #C32DE1 0%, #9C42F5 50.18%, #5D2DE1 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #9C42F5 50.18%, #5D2DE1 100%);
            }

            @include hover {
                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--4 {
            background: linear-gradient(135deg, #FF5E00 0%, #F54562 54.11%, #C32DE1 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #F54562 54.11%, #C32DE1 100%);
            }

            @include hover {
                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--5 {
            background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #00BBFF 53.09%, #4579F5 100%);
            }

            @include hover {
                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--6 {
            background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
            /* 2 */

            box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);

            &::after {
                background: linear-gradient(135deg, #FFAA00 50.81%, #FF5E00 100%);
            }

            @include hover {
                box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
            }
        }

        &--1, &--2, &--3, &--4, &--6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            height: 140px;
        }

        &--5 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            height: 298px;
        }

        @include devices {
            margin-bottom: 13px;

            height: 140px;
        }

        @include hover {
            .features-svg {
                background: rgba(255, 255, 255, 0.16);
                svg {
                    opacity: 0.35;
                }
            }
            &::after {
                opacity: 1;
            }
        }
    }

    &-title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
    }

    &-text {
        margin: 0 auto;
        max-width: 325px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    &-svg {
        position: absolute;
        right: -44px;
        bottom: -72px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 80px;
        width: 160px;
        height: 160px;
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);

        svg {
            margin-top: -50px;
            width: 80px;
            height: 80px;
            opacity: 0.2;
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }
    }

    @include devices {
        margin-top: vc(32);
    }
}

.cases {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 38px;

    @include devices {
        gap: 16px;
    }

    &-item {
        padding: 24px 24px 32px;
        width: calc(100% / 3 - 19px);
        background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
        border: 1px solid rgba(245, 247, 250, 0.06);
        box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
        //backdrop-filter: blur(54.3656px);
        transform: translate3d(0, 0, 1px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 32px;

        &:nth-child(2) {
            .cases-img {
                img {
                    left: 83px;
                    top: 50px;
                    width: 267px;
                }

                .cases-bg img {
                    width: 360px;
                }
            }
        }

        @include devices {
            padding: 16px;
            width: 284px;
            flex-shrink: 0;
        }
    }

    &-img {
        position: relative;
        width: 100%;
        height: 268px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 20px;

        img {
            position: absolute;
            left: 59px;
            z-index: 1;
            width: 360px;
            height: auto;
            max-width: initial;

            @include devices {
                left: -2px;
            }
        }

        @include devices {
            height: 252px;
        }
    }

    &-bg {

        img {
            z-index: 0;
            left: 0;
            width: 360px;
            height: 100%;
        }
    }

    &-title {
        margin-top: 24px;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1px;
    }

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
            margin-top: 8px;
        }
    }

    &-stitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        opacity: 0.6;
    }

    &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
    }

    @include devices {
        padding-bottom: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 111%;
        margin-left: -16px;
        padding: 0 16px 16px;
    }
}

button {
    border: none;
    color: $color-white;
}

.contacts {
    margin: 0 auto 100px;
    padding: 60px;
    width: 720px;
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
    border: 1px solid rgba(245, 247, 250, 0.06);
    box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
    //backdrop-filter: blur(54.3656px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;

    .error {
        position: absolute;
        right: 0;
        bottom: -20px;
        color: red;
    }

    &-title {

    }

    &-text {
        margin: 24px 0 39px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        @include desktop {
            text-align: center;
        }

        @include devices {
            margin: 10px 0 30px;
        }
    }

    &-send {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        background: $color-black;
        border-radius: 40px;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;

        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &-input {
        position: relative;
        margin-bottom: 24px;

        input {
            width: 100%;
            padding: 16px 24px;
            background: rgba(255, 255, 255, 0.02);
            mix-blend-mode: normal;
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            outline: none;
            color: $color-white;

            &::placeholder {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                opacity: 0.6;
            }
        }


    }

    &-textarea {
        position: relative;

        textarea {
            width: 100%;
            padding: 16px 24px;
            background: rgba(255, 255, 255, 0.02);
            mix-blend-mode: normal;
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            resize: none;
            outline: none;
            color: $color-white;
            height: 120px !important;

            &::placeholder {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                opacity: 0.6;
            }
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 36px;
        padding-right: 102px;

        @include devices {
            padding: 0;
            margin-top: 28px;
            justify-content: center;
            flex-flow: column;
        }
    }

    .button {
        padding: 22px 84px;

        @include devices {

            width: 100%;

            span {
                position: relative;
                left: 17px;
            }
        }
    }

    @include devices {
        margin-bottom: 0;
        width: 100%;
        padding: vc(24) vc(16);
    }
}

.social {
    display: flex;
    justify-content: space-between;


    a {
        display: block;

        width: 24px;
        height: 24px;

        @include hover {
            opacity: 0.6 !important;
        }

        @include desktop {
            margin-right: 32px;
        }
    }

    @include devices {
        margin-top: 32px;
        width: 136px;
    }
}

.circle {
    position: absolute;
    z-index: -1;
    background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
    box-shadow: 0px 0px 1px rgba(102, 255, 0, 0.12), 0px 2px 4px -1px rgba(27, 10, 82, 0.06), 0px 16px 24px rgba(102, 255, 0, 0.12), 0px 8px 8px -4px rgba(102, 255, 0, 0.06), inset -19px -29px 60px rgba(102, 255, 0, 0.4);
    border-radius: 1000px;

    &--1 {
        left: -12%;
        top: 7%;
        width: 324px;
        height: 324px;
    }

    &--2 {
        right: -6.5%;
        top: 50%;
        width: 324px;
        height: 324px;
    }

    &--3 {
        left: 50%;
        top: 1%;
        margin-left: -185px;
        width: 142px;
        height: 142px;

        @include devices {
            top: 10%;
        }
    }

    &--4 {
        left: 5%;
        top: -11%;
        width: 370px;
        height: 370px;

        @include devices {
            left: -30%;
            top: -17%;
        }
    }

    &--5 {
        right: -2%;
        top: 66%;
        width: 178px;
        height: 178px;
    }

    &--6 {

    }
}

.bg {
    position: absolute;

    left: 20%;
    top: -20%;
    width: 990px;
    height: 990px;

    &::after {
        //content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 164px;
        margin: 0 auto;
        width: 355.45px;
        height: 370.21px;
        background: linear-gradient(135deg, rgba(102, 255, 0, 0.4) 0%, rgba(22, 184, 98, 0.4) 51.88%, rgba(0, 133, 143, 0.4) 100%);
        filter: blur(300px);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0,0,0);
        transform: translateZ(0);
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@include devices {
    .is-ru-size {
        font-size: vc(48);
        line-height: vc(80);
    }
}
