// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #212429;
$color-white: #fff;
$color-gray: #171717;
$color-gray2: #2c2c2c;
$color-light: #b7b7b7;
$color-red: #FF5757;
$gradient: linear-gradient(135deg, #66FF00 0%, #16B862 51.88%, #00858F 100%);

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-Poppins: 'Poppins';
$font-Montserrat: 'Montserrat';

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1025;
$desktop-xl: 1800;
$laptop: 1366;
$tablet: 768;
$mobile: 360;
$desktop-vh: 750;
