-
    const dataCards = [
        {
            title: 'Naming of animals',
            text: 'Certain climate collectibles will allow you to name and track the progress of an actual animal.'
        },
        {
            title: 'Visitation rights',
            text: 'Enjoy the chance to see the project either in the virtual world or in real life'
        },
        {
            title: 'Camera trap access',
            text: 'Only CC holders will have access to special camera traps, showcasing the greatest wildlife spots'
        },
        {
            title: 'Exclusive AMA’s',
            text: 'Any collectible grants you exclusive AMA’s and access to the project directly'
        },
        {
            title: 'Forest preservation',
            text: 'CC’s offer governments an alternative to selling parcels of forest by selling the various parts as collectibles'
        },
        {
            title: 'Animal sanctuaries and game parks',
            text: 'CC’s can fund the support or building of sanctuaries and will offer game parks an alternative to selling hunting licences and game park support, by offering CC’s'
        },
        {
            title: 'Rewilding and tree planting',
            text: 'Acres of land, local areas of special interest, and tree planting can all be shared as a CC'
        },
        {
            title: 'Local communities',
            text: 'A part of all CC sales goes directly to helping both the local rangers and local communities'
        },
    ]

section.section.section--2(data-scroll-section)
    .container.container--cards
        each item, index in dataCards
            .card.card-4.card--cards.center.anim-fade(data-scroll)
                .icon.icon-40
                    img(src=`${baseDir}assets/images/cards/${index + 1}.png` alt=`${index + 1}`)
                .text-xlg.mb-14-3
                    !=item.title
                .text-xsm.opacity-6
                    !=item.text
