.section {
    &--1 {
        padding-top: 201px;
        padding-bottom: 157px;

        @include devices {
            padding-top: 116px;
            padding-bottom: 0;
        }
    }

    &--2 {

        padding-bottom: 180px;

        @include devices {
            padding-bottom: 120px;
        }
    }

    &--3 {
        padding-bottom: 156px;

        @include devices {
            padding-bottom: 120px;
        }
    }

    &--4 {

    }

    &--5 {
        padding-top: 176px;

        @include devices {
            padding-top: 100px;
        }
    }

    &--6 {
        padding-top: 237px;

        @include devices {
            padding-top: 109px;
        }
    }

    &--7 {
        padding-top: 200px;

        @include devices {
            padding-top: 120px;
        }
    }

    &--8 {
        padding-top: 217px;
        padding-bottom: 116px;

        @include devices {
            padding-top: 107px;
            padding-bottom: 100px;
        }
    }
}

@import "intro/index";
@import "cards/index";
@import "climate/index";
@import "howworks/index";
@import "partners/index";
@import "faq/index";
@import "joinus/index";
