.section {
    &--1 {
        padding-top: 187px;
        padding-bottom: 157px;

        @include devices {
            padding-top: vc(150);
            padding-bottom: 120px;
            //height: 100vh;
            //height: var(--vh);
            //
            //.header + .container {
            //    position: absolute;
            //    bottom: 30px;
            //}

            .is-lock-scroll & {
                z-index: 9999;
            }
        }
    }

    &--2 {
        padding-top: 69px;


        @include devices {
            padding-top: 0;
        }
    }

    &--3 {
        z-index: 3;
        padding-top: 167px;

        @include devices {
            padding-top: 98px;
            padding-bottom: 87px;
        }
    }

    &--4 {

    }

    &--5 {
        padding-top: 176px;

        @include devices {
            padding-top: 100px;
        }
    }

    &--6 {
        z-index: 2;
        padding-top: 150px;

        @include devices {
            padding-top: 0;
        }
    }

    &--7 {
        padding-top: 169px;

        @include devices {
            padding-top: 96px;
        }
    }

    &--8 {
        padding-top: 168px;
        padding-bottom: 0;

        @include devices {
            padding-top: 107px;
            padding-bottom: 78px;
        }
    }
}

@import "intro/index";
@import "features/index";
@import "technology/index";
@import "cooperation/index";
@import "contacts/index";

