section.section.section--8(data-scroll-section)
    .container
        .img.img--1
            img(src=`${baseDir}assets/images/us/1.png` alt=`1`)
        .img.img--2
            img(src=`${baseDir}assets/images/us/2.png` alt=`2`)
        .joinUs.card
            .title.title-md.uppercase.center
                | #[span Join] us
            .text-md.center.mb-16-52.letter-spacing-008
                | Support your favourite conservation projects and receive special benefits.
                br
                | Engage and preserve the planet all powered by the new Climate Collectibles
            .button.button--center
                span
                    <svg class="icon-20" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.43962 1.51507C1.3559 1.1802 1.01656 0.976595 0.681693 1.06031C0.346821 1.14403 0.143221 1.48336 0.226939 1.81824L1.10339 5.32405L1.91907 8.72738C2.26589 10.1745 2.53889 11.3136 2.86285 12.1985C3.19515 13.1062 3.60266 13.8109 4.25647 14.3513C4.31289 14.3979 4.37037 14.4433 4.42888 14.4873C5.10676 14.9971 5.88702 15.2292 6.84718 15.3408C7.78321 15.4496 8.95454 15.4496 10.4426 15.4495H10.9372C12.2247 15.4496 13.2383 15.4496 14.0548 15.367C14.8911 15.2824 15.5793 15.1069 16.1985 14.7192C16.4923 14.5353 16.7652 14.32 17.0125 14.0772C17.5339 13.5654 17.8649 12.9371 18.1421 12.1435C18.4127 11.3687 18.6489 10.3831 18.949 9.13105L18.9664 9.05833C19.1474 8.30344 19.2965 7.68115 19.3541 7.1771C19.4139 6.65394 19.3895 6.1558 19.1284 5.70098C19.0167 5.50645 18.877 5.32937 18.7139 5.17542C18.3325 4.81545 17.8537 4.67562 17.331 4.61184C16.8274 4.55039 16.1876 4.5504 15.4112 4.55042L2.19846 4.55042L1.43962 1.51507ZM7.70828 11.6666C7.70828 11.3215 7.9881 11.0416 8.33328 11.0416H13.3333C13.6785 11.0416 13.9583 11.3215 13.9583 11.6666C13.9583 12.0118 13.6785 12.2916 13.3333 12.2916H8.33328C7.9881 12.2916 7.70828 12.0118 7.70828 11.6666Z" fill="white"/>
                    <path d="M7.85082 18.3333C8.33528 18.3333 8.72801 17.9406 8.72801 17.4561C8.72801 16.9717 8.33528 16.5789 7.85082 16.5789C7.36635 16.5789 6.97362 16.9717 6.97362 17.4561C6.97362 17.9406 7.36635 18.3333 7.85082 18.3333Z" fill="white"/>
                    <path d="M13.114 18.3333C13.5984 18.3333 13.9912 17.9406 13.9912 17.4561C13.9912 16.9717 13.5984 16.5789 13.114 16.5789C12.6295 16.5789 12.2368 16.9717 12.2368 17.4561C12.2368 17.9406 12.6295 18.3333 13.114 18.3333Z" fill="white"/>
                    </svg>
                    | Marketplace
