-
    const dataClimate = [
        {
            title: 'Collect',
            text: 'Earn for free or purchase on the platform'
        },
        {
            title: 'Engage',
            text: 'Interact with the projects, enjoy unique benefits and see your impact'
        },
        {
            title: 'Preserve',
            text: 'All climate collectibles directly fund conservation projects'
        },
    ]

section.section.section--3(data-scroll-section)
    .container
        .title.title-md.uppercase.mb-16
            | Climate #[span Collectibles]
        .text-md.letter-spacing-008
            | Digital real life natural assets

    .container.container--cards
        .blure.blure--1.blure--lg
        each item, index in dataClimate
            .block(class=`block--${index}`)
                .image
                    img(src=`${baseDir}assets/images/climate/${index + 1}.png` alt=`${index + 1}`)
                .card.card-3.card--cards.center
                    .text-xlg.mb-4
                        !=item.title
                    .text-xsm.opacity-6
                        !=item.text
