section.section.section--2(data-scroll-section data-router-page="advertisers")
    .container
        .circle.circle--1(data-scroll data-scroll-speed="1" data-scroll-position="top")
        .label.mb-16.anim-fade(data-scroll)
            | 🛸 Our technology
        .title.title-md.anim-fade(data-scroll)
            | How we
        .title.title-xxl.anim-fade(data-scroll)
            | #[span promote]?
        .promote
            .promote-item.promote-item--blue.anim-fade(data-scroll)
                .promote-blure.promote-blure--blue
                .promote-item-left
                    .title-sm.df.mb-28
                        | Programmatic
                        .insert.insert--green
                            | DSP
                    .text-md
                        | • In-app advertising platform for growth your app
                        br
                        | • 40+ Ad Exchanges
                        br
                        | • Device Type & Model
                        br
                        | • Demographics
                        br
                        | • Playable and other types of creatives
                .promote-item-right
                    img(src=`${baseDir}assets/images/query-1.png` alt="client")

            .promote-item.promote-item--orange.anim-fade(data-scroll)
                .promote-blure.promote-blure--orange
                .promote-item-left
                    img(src=`${baseDir}assets/images/query-2.png` alt="client")

                .promote-item-right
                    .title-sm.df.mb-28
                        | More than 150+ AD networks
                        .insert.insert--orange
                            | Partners
                    .text-md
                        | • Our pull of mobile ads experts
                        br
                        | • Any type of geo
                        br
                        | • Daily reports
                        br
                        | • KPI compliance

