section.section.section--1(data-scroll-section data-router-page="home")
    include @components/header/header-ru
    .container
        .label.mb-8.is-hide
            | 👋 Привет! Мы
        .title.title-xlg.mb-48.is-hide.is-ru-title
            | Мобильная#[br] рекламная#[br] сеть
        div.inner.is-hide
            .button(data-page="contacts")
                span
                    | Напишите нам
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.1503 16.9283C13.3612 16.9283 13.5656 16.8427 13.7435 16.6647L18.0677 12.3536C18.2325 12.1888 18.3314 11.9581 18.3314 11.7274C18.3314 11.4967 18.2325 11.2594 18.0677 11.1012L13.7567 6.79016C13.5721 6.60559 13.3612 6.5199 13.1503 6.5199C12.6625 6.5199 12.3197 6.86926 12.3197 7.3241C12.3197 7.57458 12.4252 7.77234 12.5768 7.93054L14.0731 9.43347L15.7408 10.9628L14.2577 10.8837H6.5387C6.01794 10.8837 5.66858 11.2264 5.66858 11.7274C5.66858 12.2284 6.01794 12.5712 6.5387 12.5712H14.2577L15.7408 12.4855L14.0731 14.0214L12.5768 15.5177C12.4252 15.6759 12.3197 15.8737 12.3197 16.1241C12.3197 16.5856 12.6625 16.9283 13.1503 16.9283Z" fill="white"/>
                    </svg>
    .sphere.is-hide
        .layer.layer-1
            img(src=`${baseDir}assets/images/layer-1.png` alt="client")
        .layer.layer-2
            <svg width="663" height="558" viewBox="0 0 663 558" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="line-1" data-x="50" data-y="30" d="M70.1735 219.989C70.1355 217.539 72.1108 215.533 74.5608 215.533V215.533C77.0441 215.533 79.0325 217.592 78.946 220.074L74.6475 343.296C74.6235 343.986 74.057 344.533 73.3665 344.533V344.533C72.6663 344.533 72.0957 343.971 72.0848 343.271L70.1735 219.989Z" fill="url(#paint0_linear_405_1432)"></path>
            <path class="line-2" data-x="50" data-y="40" d="M137.157 82.9998C137.128 81.0938 138.665 79.5332 140.571 79.5332V79.5332C142.503 79.5332 144.05 81.1338 143.984 83.0642L140.637 181.571C140.619 182.107 140.178 182.533 139.641 182.533V182.533C139.097 182.533 138.653 182.096 138.645 181.552L137.157 82.9998Z" fill="url(#paint1_linear_405_1432)"></path>
            <path class="line-3" data-x="70" data-y="50" d="M497.157 134C497.128 132.094 498.665 130.533 500.571 130.533V130.533C502.503 130.533 504.05 132.134 503.984 134.064L500.637 232.571C500.619 233.107 500.178 233.533 499.641 233.533V233.533C499.097 233.533 498.653 233.096 498.645 232.552L497.157 134Z" fill="url(#paint2_linear_405_1432)"></path>
            <g class="line-4" data-x="20" data-y="30"><g filter="url(#filter0_f_405_1432)">
            <circle cx="601.104" cy="236.533" r="10" fill="url(#paint3_linear_405_1432)"></circle>
            </g><circle cx="601.104" cy="236.533" r="10" fill="url(#paint4_linear_405_1432)"></circle></g>

            <g class="line-5" data-x="20" data-y="30"><g filter="url(#filter1_f_405_1432)">
            |             <circle cx="234.104" cy="130.533" r="5" fill="url(#paint5_linear_405_1432)"></circle>
            |             </g>
            |             <circle cx="234.104" cy="130.533" r="5" fill="url(#paint6_linear_405_1432)"></circle></g>
            <g class="line-6" data-x="170" data-y="30" filter="url(#filter2_f_405_1432)">
            <circle cx="22.6044" cy="279.033" r="8.5" fill="url(#paint7_linear_405_1432)"></circle>
            </g>
            <g class="line-7" data-x="40" data-y="60" filter="url(#filter3_f_405_1432)">
            <circle cx="423.104" cy="119.533" r="13" fill="url(#paint8_linear_405_1432)"></circle>
            </g>
            <g class="line-8" data-x="150" data-y="50" filter="url(#filter4_f_405_1432)">
            <circle cx="87.6044" cy="172.033" r="6.5" fill="url(#paint9_linear_405_1432)"></circle>
            </g>
            <circle class="line-9" data-x="190" data-y="150" cx="22.6044" cy="279.033" r="8.5" fill="url(#paint10_linear_405_1432)"></circle>
            <path class="line-10" data-x="20" data-y="50" d="M359.173 122.989C359.135 121.092 360.663 119.533 362.561 119.533V119.533C364.492 119.533 366.032 121.144 365.946 123.073L362.647 196.574C362.623 197.111 362.181 197.533 361.644 197.533V197.533C361.097 197.533 360.651 197.096 360.64 196.549L359.173 122.989Z" fill="url(#paint11_linear_405_1432)"></path>
            <path class="line-11" data-x="40" data-y="80" d="M657.142 337.009C657.121 335.648 658.219 334.533 659.581 334.533V334.533C660.961 334.533 662.066 335.676 662.019 337.055L659.628 407.846C659.615 408.229 659.3 408.533 658.916 408.533V408.533C658.528 408.533 658.211 408.221 658.205 407.832L657.142 337.009Z" fill="url(#paint12_linear_405_1432)"></path>
            <path class="line-12" data-x="110" data-y="50" d="M48.1401 483.01C48.1205 481.648 49.2194 480.533 50.5818 480.533V480.533C51.9615 480.533 53.0673 481.675 53.0225 483.054L50.6267 556.845C50.6143 557.229 50.2998 557.533 49.9162 557.533V557.533C49.5276 557.533 49.211 557.221 49.2054 556.833L48.1401 483.01Z" fill="url(#paint13_linear_405_1432)"></path>
            <g class="line-13" data-x="50" data-y="60">
                <g filter="url(#filter5_f_405_1432)">
                <rect x="303.854" y="14" width="30.1354" height="30.1354" transform="rotate(44.9054 303.854 14)" fill="url(#paint14_linear_405_1432)"></rect>
                </g>
                <rect x="303.854" y="14" width="30.1354" height="30.1354" rx="8" transform="rotate(44.9054 303.854 14)" fill="url(#paint15_linear_405_1432)"></rect>
                </g>
            <defs>
            <filter id="filter0_f_405_1432" x="577.104" y="212.533" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <filter id="filter1_f_405_1432" x="215.104" y="111.533" width="38" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <filter id="filter2_f_405_1432" x="0.10437" y="256.533" width="45" height="45" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <filter id="filter3_f_405_1432" x="393.104" y="89.5332" width="60" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="8.5" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <filter id="filter4_f_405_1432" x="64.1044" y="148.533" width="47" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="8.5" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <filter id="filter5_f_405_1432" x="268.581" y="0" width="70.6178" height="70.6178" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_405_1432"></feGaussianBlur>
            </filter>
            <linearGradient id="paint0_linear_405_1432" x1="65.6044" y1="280.033" x2="83.5172" y2="281.283" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint1_linear_405_1432" x1="133.604" y1="131.033" x2="147.54" y2="131.98" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint2_linear_405_1432" x1="493.604" y1="182.033" x2="507.54" y2="182.98" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint3_linear_405_1432" x1="581.104" y1="236.533" x2="601.104" y2="256.533" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint4_linear_405_1432" x1="581.104" y1="236.533" x2="601.104" y2="256.533" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint5_linear_405_1432" x1="224.104" y1="130.533" x2="234.104" y2="140.533" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint6_linear_405_1432" x1="224.104" y1="130.533" x2="234.104" y2="140.533" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint7_linear_405_1432" x1="5.60437" y1="279.033" x2="22.6044" y2="296.033" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint8_linear_405_1432" x1="397.104" y1="119.533" x2="423.104" y2="145.533" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint9_linear_405_1432" x1="74.6044" y1="172.033" x2="87.6044" y2="185.033" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint10_linear_405_1432" x1="5.60437" y1="279.033" x2="22.6044" y2="296.033" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint11_linear_405_1432" x1="355.604" y1="158.533" x2="369.493" y2="159.78" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint12_linear_405_1432" x1="654.604" y1="371.533" x2="664.559" y2="372.206" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint13_linear_405_1432" x1="45.6044" y1="519.033" x2="55.5624" y2="519.68" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint14_linear_405_1432" x1="288.787" y1="29.0677" x2="318.922" y2="59.203" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            <linearGradient id="paint15_linear_405_1432" x1="288.787" y1="29.0677" x2="318.922" y2="59.203" gradientUnits="userSpaceOnUse">
            <stop stop-color="#66FF00"></stop>
            <stop offset="0.518766" stop-color="#16B862"></stop>
            <stop offset="1" stop-color="#00858F"></stop>
            </linearGradient>
            </defs>
            </svg>

        .layer.layer-3
            img(src=`${baseDir}assets/images/layer-3.png` alt="client")


